<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
    <title>Images</title>
    <style>
        div.gallery {
            margin: 15px;
            float: left;
            width: 250px;
        }

        div.gallery img {
            height: 300px;
        }
    </style>
</head>
<body>
    <header th:insert="fragments.html :: nav"></header>
<div class="row justify-content-center">
    <div class="alert alert-warning" style="width: 50%;" role="alert" th:if="${files.isEmpty()}">
        <p class="text-center">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No files available.
        </p>
    </div>
</div>


    <div th:each="file : ${files}">
        <div class="gallery">
            <a target="_blank" th:href="${file}"> <img height="300" th:src="${file}" />
            </a>
        </div>
    </div>

</body>
</html>
